<ion-header>
  <app-top-bar title="{{genre.name}}" (settingsChanged)="getAlbums()"></app-top-bar>
</ion-header>

<ion-content>
  <ion-list *ngIf="albums !== undefined">
    <ion-item *ngFor="let album of albums" detail-push>
      <ion-thumbnail item-start>
        <img *ngIf="album.coverid !== undefined" src="{{serverAddress}}/music/{{album.coverid}}/cover.jpg">
      </ion-thumbnail>
      <ion-label (click)="itemSelected(album)"><h2>{{ album.name }}</h2><p>{{ album.artist }}</p></ion-label>
      <ion-icon item-end (click)="playAlbum(album)" name="play"></ion-icon>
      <ion-icon item-end (click)="addAlbum(album)" name="add"></ion-icon>
    </ion-item> 
  </ion-list>
</ion-content>
